.buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
    a {
      background: rgb(165, 165, 243);
      padding: 10px;
      border-radius: 10px;
      text-decoration: none;
      color: black;
    }
}

.container {
  position: absolute;
  bottom: 10px;
  left: 10px;
  background: black;
  padding: 10px;
  border-radius: 10px;
  &__button {
    a {
      text-decoration: none;
      color: white;
    }
  }
}